packages:
  yum:
    git: []
    patch: []
    mariadb105: []
    mariadb105-server: []
    mariadb105-devel: []
    redis6: []

files:
  "/tmp/setup_mysql.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      # Start MySQL
      systemctl enable mariadb
      systemctl start mariadb

      # Wait for MySQL to be ready
      counter=0
      while ! mysqladmin ping -u root --silent && [ $counter -lt 30 ]; do
        sleep 2
        ((counter++))
      done

      # Setup MySQL
      mysql -u root <<-EOF
      ALTER USER 'root'@'localhost' IDENTIFIED BY '${MYSQL_ROOT_PASSWORD}';
      CREATE DATABASE IF NOT EXISTS ${MYSQL_DATABASE};
      CREATE USER IF NOT EXISTS '${MYSQL_USER}'@'localhost' IDENTIFIED BY '${MYSQL_PASSWORD}';
      GRANT ALL PRIVILEGES ON ${MYSQL_DATABASE}.* TO '${MYSQL_USER}'@'localhost';
      FLUSH PRIVILEGES;
      EOF

commands:
  01_setup_mysql:
    command: "/tmp/setup_mysql.sh"
    ignoreErrors: true

