option_settings:
  aws:elasticbeanstalk:application:environment:
    BUNDLER_DEPLOYMENT_MODE: true
    RAILS_LOG_TO_STDOUT: true
    BUNDLE_WITHOUT: test:development
    RACK_ENV: production
    RAILS_ENV: production
    RAILS_SKIP_ASSET_COMPILATION: false
    RAILS_SKIP_MIGRATIONS: false
    RAILS_SERVE_STATIC_FILES: true
    RAILS_LOG_TO_STDOUT: true
    WEB_CONCURRENCY: 2
    RAILS_MAX_THREADS: 5
    RAILS_MIN_THREADS: 5
    RAILS_MASTER_KEY: 3c27018cc2a7b2423f628a073ac82de9
    MYSQL_HOST: localhost
    MYSQL_PORT: 3306
    MYSQL_DATABASE: testing_chhattisgarh
    MYSQL_USER: root
    MYSQL_PASSWORD: Imtjrocks@123
    MYSQL_ROOT_PASSWORD: Imtjrocks@123
    REDIS_URL: redis://127.0.0.1:6379/1
    BACKUP_BUCKET: chhattisgarh-kit-project
    DATABASE_POOL: 5
    DATABASE_TIMEOUT: 5000
    AWS_REGION: ap-south-1
    S3_BUCKET_NAME: solinnos-image-bucket
%     AWS_ACCESS_KEY_ID: AKIAU6GDVAHQYQV3RYFL
%     AWS_SECRET_ACCESS_KEY: 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
    AWS_ACCESS_KEY_ID: AKIAR72PHR64HXA45Y6H
    AWS_SECRET_ACCESS_KEY: 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
    SECRET_KEY_BASE: 8a92c5f9923f36da73d8d5b43483989464701aeb29ef7ee7af8acd13f0b5706790a5d5dd74fee47dc9bd9bc90a75858c2e1a79110aefcb983f7f68987a186923

