files:
  "/etc/profile.d/load_eb_env.sh":
    mode: "000644"
    owner: root
    group: root
    content: |
      #!/bin/bash
      EB_ENV_FILE="/opt/elasticbeanstalk/deployment/env"
      if [ -f "$EB_ENV_FILE" ]; then
        set -a
        . "$EB_ENV_FILE"
        set +a
      fi

commands:
  01_ensure_profile_d_executed:
    command: |
      echo '[ -d /etc/profile.d ] && for i in /etc/profile.d/*.sh; do [ -r $i ] && . $i; done' >> /etc/bash.bashrc
